<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h2 class="oe_slogan">OpenEduCat Core</h2>
			<h3 class="oe_slogan">Efficient management of students,
				teachers, courses with a collaborative platform</h3>
		</div>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<a href="http://openeducat.org/demo"> <img
					src="openeducat_logo.png">
				</a>
				<div class="oe_demo_footer oe_centeralign">Online Demo</div>
			</div>
		</div>
		<div class="oe_span6">
			<p class="oe_mt32">Based on best of class enterprise level
            architecture, OpenEduCat is ready to be used from local
            infrastructure to a highly scalable cloud environment.</p>
			<div class="oe_centeralign oe_websiteonly">
				<a href="http://www.openeducat.org/contactus/"
					class="oe_button oe_big oe_tacky">Contact Us</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Student Information At Your Click</h2>
		<div class="oe_span6">
			<p class="oe_mt32">A complete student management system which 
			enables you to store all information related to students such as
			address, blood group, achievements and much more.</p>
		</div>
		<div class="oe_span6">
			<div class="oe_row_img oe_centered">
				<img class="oe_picture oe_screenshot" src="student.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Easier Lecturer Management</h2>
		<div class="oe_span6">
			<div class="oe_row_img oe_centered">
				<img class="oe_picture" src="faculty.png">
			</div>
		</div>
		<div class="oe_span6">
			<p class="oe_mt32">Lecturer management system with integrated HR
			management system gives full control over information related to
			faculty like educational degree, skills and payroll.</p>
		</div>
	</div>
</section>


<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Course Unit Management</h2>
		<div class="oe_span6">
			<p class="oe_mt32">Course Unit management system to manage
				details of subject like name, code and type such as theory, practical
				or both.</p>
		</div>
		<div class="oe_span6">
			<div class="oe_row_img oe_centered">
				<img class="oe_picture" src="subjects.png">
			</div>
		</div>
		
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Course Management</h2>
		<div class="oe_span6">
			<div class="oe_row_img oe_centered">
				<img class="oe_picture oe_screenshot" src="courses.png">
			</div>
		</div>
		<div class="oe_span6">
			<p class="oe_mt32">A Course management system provides detailed
			information of course and Course units related to that course. You
			can manage parent-child relationship between courses.</p>
		</div>
	</div>
</section>

<section class="oe_container">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Need Any Help?</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="mailto:support@openeducat.org"><i class="fa fa-envelope"></i> Email </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-phone"></i> Contact Us </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-check-square"></i> Request Customization </a>
        <a class="mt8 btn btn-primary btn-lg" style="color: #FFFFFF !important;margin-right: 7px;" href="https://www.openeducat.org/page/return-and-refund-policy"><i class="fa fa-share-square" style=""></i> Returns and Refunds Policy</a>
    </div>
</section>
