<section class="oe_container bg-gray-lighter">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduCat</h2>
            <h3 class="oe_slogan">One Stop Solution for Managing your Educational Institute</h3>
        </div>

        <div class="oe_span12 oe_mb32">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.youtube.com/watch?v=2KbT2HHEbgk" target="_blank">
                    <img src="openeducat-video-banner.jpg">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced oe_mt32">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo">
                    <img src="openeducat_logo.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">Based on best of class enterprise level
            architecture, OpenEduCat is ready to be used from local
            infrastructure to a highly scalable cloud environment.</p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.openeducat.org/contactus/" class="oe_button oe_big oe_tacky">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Student Information At Your Click</h2>
        <div class="oe_span6">
            <p class="oe_mt32">A complete student management system which
            enables you to store all information related to students such as
            address, blood group, achievements and much more.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="student.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Easier Lecturer Management</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="faculty.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Lecturer management system with integrated HR management system gives full control over information related to faculty like degree, skills and payroll.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Enrollment</h2>
        <div class="oe_span6">
            <p class="oe_mt32">Create admission register to initiate admission
            process. You can set fees details, time duration, maximum no. of
            application & other details. Applicant can apply for particular
            course, make fees payment & get admission.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="enrollment.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Financial</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="financial.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Financial management part of OpenEduCat gives institutes managing their financial activities with support of various payment methodology and flexible payment management.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Manage Classrooms</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Class Management System manages course, class and division in various ways to simplify the educational structure.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="class.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Time Table</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="session.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Managing time of Lecturers and students is the most important part for any institute and OpenEduCat helps in achieving the same, providing really user friendly interface to allocate time slots to faculties.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Attendance</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Day to day activities like attendance management can become a tedious task for any one, and OpenEduCat tried to eliminate it by collecting minimum data by automating population of other data.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="attendance.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Assignment</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="assignment.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Allocation and Informing students about assignments, assessing them and providing feedback in collaborative environment of OpenEduCat is just a matter of few clicks.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Library</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Integrated Library Management System help maintaining Book Management by controlling functions like book issue, receipt of books to students and Lecturers, trigger purchase quotation for books unavailable in the library and monitoring activities using barcode based library cards.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="media.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Exam</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="exam.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Organizing examination with support of various calculation methods like Average, CPA, CCE is now possible with OpenEduCat.
            </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Results</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Workflow driven result generation of OpenEduCat makes sure that each result gets generated using a transparent process and at each state each change is being monitored and historized.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="result.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Events</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="events.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Event management system enable institute organize and inform students and Lecturers about the events with facility of sending RSVP.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">News</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
To keep students and faculty members informed about all happening going around the campus is just a click away using the OpenEduCat’s news publishing.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="news.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Blog</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="blog.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Internal Blogging system provides intense information sharing across the institute using collaborative environment of OpenEduCat.
            </p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Dashboards</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
A user friendly dashboard providing overall information to students and Lecturers, make it easy for them to manage their schedule and work in efficient way.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="dashboard.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Reporting</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="reporting.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Detailed reporting on all objects, providing information to institute about the performance of students and Lecturers help them setting right benchmark and expectations.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Need Any Help?</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="mailto:support@openeducat.org"><i class="fa fa-envelope"></i> Email </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-phone"></i> Contact Us </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-check-square"></i> Request Customization </a>
        <a class="mt8 btn btn-primary btn-lg" style="color: #FFFFFF !important;margin-right: 7px;" href="https://www.openeducat.org/page/return-and-refund-policy"><i class="fa fa-share-square" style=""></i> Returns and Refunds Policy</a>
    </div>
</section>
