/* Adjusting the margin,padding to make it look good. You can remove or change it according to your needs */
.header {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    color: #000;
    font-family: 'Cambria', sans-serif;
}

.o_background_header img {
    max-height: 200px !important;
    max-width: 1000px;
}

th, td {
    padding: 3px !important;
}

/* Adjusting the margin,padding to make it look good. You can remove or change it according to your needs */
.footer {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-bottom: 5px solid #000;*/

    /* To Fix Footer overlapping page_border div */
    /*border-left: 5px solid #000;*/
    /*border-right: 5px solid #000;*/
}

/* Adjusting the margin,padding to make it look good. You can remove or change it according to your needs */
.page {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Magic happens here */
.page_border {
    border: 4px solid #000;
    /*border-right: 5px solid #000;*/
    position: fixed;
    z-index: 9999;
    /* If you don't get full page border, play around with the height */
    height: 340mm;
    left: 0;
    top: 0;
    width: 100%;
}

.my_report_layout_background {
    font-family: 'Times New Roman', serif !important;
    color: #000 !important;
}

.my_report_layout_background table tr:nth-child(odd) {
    background-color: transparent !important;
}
