@charset "utf-8";

.openerp .oe_login .oe_login_bottom {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 0 1px 1px #82A7CF;
  background-color: #82A7CF;
  background-image: -webkit-linear-gradient(top, #787878, #787878);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#333333));
  background-image: -webkit-linear-gradient(top, #787878, #333333);
  background-image: -moz-linear-gradient(top, #787878, #333333);
  background-image: -ms-linear-gradient(top, #787878, #333333);
  background-image: -o-linear-gradient(top, #787878, #333333);
  background-image: linear-gradient(to bottom, #787878, #333333);
}

.openerp .oe_login .oe_login_logo {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.openerp .oe_login button {
cursor: pointer;
padding: 6px 16px;
border: 1px solid #222;
color: white;
margin: 0;
background-color: #8C1313;
background-image: -webkit-gradient(linear, left top, left bottom, from(#B92020), to(#600606));
background-image: -webkit-linear-gradient(top, #82A7CF, #82A7D0);
background-image: -moz-linear-gradient(top, #B92020, #600606);
background-image: -ms-linear-gradient(top, #B92020, #600606);
background-image: -o-linear-gradient(top, #B92020, #600606);
background-image: linear-gradient(to bottom, #B92020, #600606);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

