<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Dropbox backing up</h2>
            <h3 class="oe_slogan">The small investment to protect your business</h3>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="dropbox.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">

            <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
                <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                <ul class="list-unstyled">

                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Convenience: Smart rotation, Schedule, Graphs
                    </li>

                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Security: Backup encryption
                    </li>

                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Safe location: your personal Cloud
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Smart rotation vs. Normal rotation</h2>
            <h3 class="oe_slogan">With the same amount of space,<br/>We keep a more interesting data set</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
                Normal: last 10 backups for 10 days <br/>
                Smart: last 7 backups for 7 days & 3 backups for last 3 weeks
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="rotation.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Time frames</h2>
            <h3 class="oe_slogan">Set a schedule according to your needs</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
                Morning, before office hours, afternoon, after office hours<br/>
                Every two hours<br/>
                At night only<br/>
                On sunday only<br/>
                etc.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="timeframes.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Monitoring</h2>
            <h3 class="oe_slogan">Look out for changes than deal with the consequences</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
                Backup size did not adequately increased<br/>
                Current backup configuration did not failed<br/>
                etc.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="monitoring.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Backup encryption</h2>
            <h3 class="oe_slogan">Keep your data safe and sleep well</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <p class="oe_mt32">
                Specify a password to protect data in backup files produced by the backup job and take a control over your personal information
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="encryption.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:apps@it-projects.info">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:apps@it-projects.info">apps@it-projects.info <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
                <li><a href="https://m.me/itprojectsllc" target="_blank">https://m.me/itprojectsllc <i class="fa fa-facebook-square"></i></a></li>
                <li>skype@it-projects.info <i class="fa fa-skype"></i></li>
            </ul>
        </div>
        <div class="oe_span4">
            <div class="stamp" style="width:200px;">
                <div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(6deg);
                            -o-transform: rotate(6deg);
                            -moz-transform: rotate(6deg);
                            -ms-transform: rotate(6deg);">
                    Tested on Odoo<br/>12.0 community
                </div>
                <div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(-3deg);
                            -o-transform: rotate(-3deg);
                            -moz-transform: rotate(-3deg);
                            -ms-transform: rotate(-3deg);">
                    Tested on Odoo<br/>12.0 enterprise
                </div>
            </div>
        </div>
    </div>
</section>

