<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduCat Timetable</h2>
            <h3 class="oe_slogan">Timetable Management</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo"> <img
                    src="openeducat_logo.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">This module adds feature to manage the session
            to OpenEduCat.</p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.openeducat.org/contactus/"
                    class="oe_button oe_big oe_tacky">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Timings</h2>
        <div class="oe_span6">
            <p class="oe_mt32">You can define list of periods with time duration
            & sequence.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="timing.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Generate Sessions</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="generate_session.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">Session contains all details of course, subject,
            time, day & else. Kanban & calandar view gives you better look to
            check it. You can have report for faculty & student for lectures
            in the week.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Sessions</h2>
        <div class="oe_span6">
            <p class="oe_mt32">With Generate Session wizard you can easily
            create session for specific course with vast date range.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="session.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Need Any Help?</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="mailto:support@openeducat.org"><i class="fa fa-envelope"></i> Email </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-phone"></i> Contact Us </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-check-square"></i> Request Customization </a>
        <a class="mt8 btn btn-primary btn-lg" style="color: #FFFFFF !important;margin-right: 7px;" href="https://www.openeducat.org/page/return-and-refund-policy"><i class="fa fa-share-square" style=""></i> Returns and Refunds Policy</a>
    </div>
</section>
