<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h2 class="oe_slogan">OpenEduCat Attendance</h2>
			<h3 class="oe_slogan">Manage Student Attendance</h3>
		</div>
		<div class="oe_span6">
			<div class="oe_demo oe_picture oe_screenshot">
				<a href="http://openeducat.org/demo"> <img
					src="openeducat_logo.png">
				</a>
				<div class="oe_demo_footer oe_centeralign">Online Demo</div>
			</div>
		</div>
		<div class="oe_span6">
			<p class="oe_mt32">This module allows you to manage the student
			attendance. You can print absent report for student.</p>
			<div class="oe_centeralign oe_websiteonly">
				<a href="http://www.openeducat.org/contactus/"
					class="oe_button oe_big oe_tacky">Contact Us</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Attendance Register</h2>
		<div class="oe_span6">
		<p class="oe_mt32">
			Create attendance register for course. Lecturers
			can then manage attendance sheet date wise.
			</p>
		</div>
		<div class="oe_span6">
			<div class="oe_row_img oe_centered">
				<img class="oe_picture oe_screenshot" src="attendance_register.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Take Attendance</h2>
		<div class="oe_span6">
			<div class="oe_row_img oe_centered">
				<img class="oe_picture" src="take_attendance.png">
			</div>
		</div>
		<div class="oe_span6">
			<p class="oe_mt32">Record attendance of all students from a
				simple wizard. Select only absent students and that students are added as absent and others as present default.</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Attendance Sheet</h2>
		<div class="oe_span6">
			<p class="oe_mt32">Attendance sheet shows the list of students with
			present status. You can find details for number of present and
			absent students.</p>
		</div>
		<div class="oe_span6">
			<div class="oe_row_img oe_centered">
				<img class="oe_picture oe_screenshot" src="attendance_sheet.png">
			</div>
		</div>
	</div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Attendace Report</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="attendance_report.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">You can print attendance report for students
             between specific days.</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Need Any Help?</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="mailto:support@openeducat.org"><i class="fa fa-envelope"></i> Email </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-phone"></i> Contact Us </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-check-square"></i> Request Customization </a>
        <a class="mt8 btn btn-primary btn-lg" style="color: #FFFFFF !important;margin-right: 7px;" href="https://www.openeducat.org/page/return-and-refund-policy"><i class="fa fa-share-square" style=""></i> Returns and Refunds Policy</a>
    </div>
</section>
